.input-padding {
  padding-top: 30px;
}

.list-padding {
  padding-top: 40px;
}

.delete-margin {
  margin-left: 30px;
}

.spinner {
  @extend .fa;
  @extend .fa-spinner;
  @extend .fa-pulse;
  @extend .fa-3x;
}

.filter {
  margin-top: 10px;
}

.filter-header{
  margin-top: 10px;
  font-size: 20px;
}
