
.spinner {
  @extend .fa;
  @extend .fa-spinner;
  @extend .fa-pulse;
  @extend .fa-3x;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #AAA;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  flex: 300px;
  margin-top: 20px;
  max-width: 350px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}
